.one{
    background-color: brown;
    height: 50px;
    width: 100%;
}
.two{
    background-color: white;
    height: 50px;
    width: 100%;
}
.three{
    background-color: brown;
    height: 50px;
    width: 100%;
}
.four{
    background-color: white;
    height: 50px;
    width: 100%;
}
.five{
    background-color: brown;
    height: 50px;
    width: 100%;
}
.six{
    background-color: white;
    height: 50px;
    width: 100%;
}
.seven{
    background-color: brown;
    height: 50px;
    width: 100%;
}
.eight{
    background-color: white;
    height: 50px;
    width: 100%;
}
.nine{
    background-color: brown;
    height: 50px;
    width: 100%;
}
.ten{
    background-color: white;
    height: 50px;
    width: 100%;
}
.eleven{
    background-color: brown;
    height: 50px;
    width: 100%;
}
.tweleve{
    background-color: white;
    height: 50px;
    width: 100%;
}
.thirteen{
    background-color: brown;
    height: 50px;
    width: 100%;
}